body {
  max-width: 900px;
  margin: auto;
  font-family: sans-serif;
  background: #fdf6f0;
}

header {
  background: #333;
  color: white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.gallery {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.card {
  background: white;
  padding: 10px;
  border-radius: 10px;
  flex: 1;
}

img, video {
  width: 100%;
  border-radius: 10px;
}

img:hover {
  transform: scale(1.05);
  transition: 0.3s;
}
